<div class="p-4 bg-white shadow"> <!-- Filtros ** -->
    <div class="flex flex-column md:flex-row items-center justify-center gap-4">
        <input type="text" placeholder="Pesquise pelo nome do local: "
            class="w-full border border-gray-300 p-2 rounded shadow-sm focus:ring focus: ring-blue-400">

        <select class="w-full border border-gray-300 p-2 rounded shadow-sm focus:ring focus: ring-blue-400">
            <option [value]=""> Todas as categorias </option>
            <option *ngFor="let catego of categoriasFiltro" [value]="catego.nome"> {{ catego.nome }} </option>
        </select>
    </div>

    <!-- FAZER OS CARDS AGORA!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  -->
</div>